@tailwind base;
@tailwind components;
@tailwind utilities;
/* .name{
  display:flex;
  justify-content: center;
  align-items: center;
  
  gap: 2rem;
} */
/* .sign{
  text-align: center;
}
.password{
  display:flex;
} */
  

/* number 2
.email{
  display:flex;
  justify-content: center;
  
}

.sign{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}  */